<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Content Management</title>
</head>
<body>
    <div class="wrapper">
        <h1>Movie Library</h1>
        <button type="button" class="btn" id="add">Add</button>
        <button type="button" class="btn" id="delete">Delete</button>
        <input type="text" id="searchInput" placeholder="Search for movies...">
        <div id="movieList">
            <% movies.forEach(movie => { %>
                <div>
                    <h3><%= movie.title %></h3>
                    <p><a href="/moviesC/<%= movie.title %>" target="_blank">Watch Now</a></p>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="contentManMain.js"></script>
</body>
</html>
